.large {
    font-size: 1.6rem;
}

.large:disabled {
    background-color: gold;
    border-color: initial;
    color: black;
    cursor: default;
    transition: none;
}

.small:disabled {
    background-color: gold;
    border-color: black;
    color: black;
    cursor: default;
    transition: none;
}

.small:disabled:hover {
    border-color: black;
}

Button {
    background-color: black;
    color: white;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: border-color 0.25s;
}

Button:hover {
    border-color: white;
}

Button:active {
    background-color: white;
    color: black;
}