.mainHeader {
    max-width: 40%;
    margin: auto 30%;
    text-align: justify;
    padding-bottom: 2em;
}

.intro {
    font-size: 2em;
}

.hello {
    padding: 0 35%;
    font-size: 3.5rem;
    font-weight: bold;
}

.mainContent {
    border-top: 1px solid grey;
}

.preview {
    padding-top: 2em;
}

.logo {
    max-width: 15em;
    max-height: 15em;
    padding-left: 1.5em;
}