.main {
    margin: auto;
}
 
.section {
    display: flex;
    flex-direction: column;
}

.user {
    font-weight: bold;
}

.userName {
    font-weight: bold;
    background-color: gold;
    border-radius: 0.4em;
    max-width: fit-content;
    padding: 0.25em 0.5em;
}
 
.label {
    padding: 0.3em 0;
    letter-spacing: 0.04em;
}
 
input:active {
    border: 2px solid black;
}

.edit > * + *{
    margin-left: 0.75em;
}