.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 45%;
    margin: auto;
    padding: 0.8em 0.8em;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1em;
}

.authorization {
    padding: 0;
    line-height: 0.5;
    text-align: center;
};

.modalButton {
    display: flex;
}

.modalButton > Button {
    width: 50%;
    text-align: center;
    background-color: black;
    border-color: white;
    color: white;
}

.modalButton > Button:hover {
    border-color: black;
}

.modalButton > * + * {
    margin-left: 1em;
}