.header {
    background-color: gold;
    font-size: 1.25em;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 0.3em 0;
    display: flex;
    max-width: 100%;
    font-weight: bold;
}

.content > span {
    font-weight: bold;
}

.content> * + * {
    margin-left: 1.5em;
}

.navigation > * {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.25em 0.5em;
    border-radius: 0.3em;
    transition: color, background-color 0.25s;
}

.navigation > *:hover {
    background-color: gold;
    color: black;
}

.navigation > * + * {
    margin-left: 0.5em;
}

.rightSide {
    max-width: 30%;
    display: flex;
}

.rightSide > *{
    margin-left: 0.5em;
}

.rightSide > span {
    padding: 0.25em 0;
    font-weight: bold;
    font-size: 1.25rem;

}