.main {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -2.5em;
}

h1 {
    margin-bottom: -0.4em;
}

.menu-title {
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.menu-title > span {
    background-color: lightgoldenrodyellow;
    padding: 0.25em 0.5em;
    border: 2px solid lightblue;
    border-radius: 3px;
}

.menu > li {
    font-weight: bold;
    margin: -0.5em 0;
}

.review-title {
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.review-title > span {
    background-color: lightsteelblue;
    padding: 0.25em 0.5em;
    border: 2px solid rgb(247, 197, 197);
    border-radius: 3px;
}

.review-item {
    font-weight: bold;
    list-style-type: circle;
}

.isClose {
    display: none;
}